//- schedule.jade

include header
include search

if !easter || easter.type != "RIP"
  - var days = ['Maandag', 'Dinsdag', 'Woensdag', 'Donderdag', 'Vrijdag', 'Zaterdag', 'Zondag'];
  #wrapper
    .schedule
      ul
        li
          span A
          a(href=match.url, target="_blank") ndere roostersite
        each type in match.json.types
          li
            span=type.letter
            a(href='?tab=' + type.tab)=type.value
      each day in match.json
        .day
          .hour.title
            span= days[match.json.indexOf(day)]
          each hour in day
            - var current = app.locals.time.withinTimespan(app.locals.times[day.indexOf(hour)]);
            if hour.teacher != 'vrij'
              .hour(class=((hour.changed == 'true' ? 'changed' : '') + (current ? ' current' : '')))
                each subhour in hour.teacher
                   span.teacher(class='sub_' + hour.teacher.length)
                      a(href=hour.teacher[hour.teacher.indexOf(subhour)])= hour.teacher[hour.teacher.indexOf(subhour)]
                   span.chamber(class='sub_' + hour.teacher.length)
                      a(href=hour.chamber[hour.teacher.indexOf(subhour)])= hour.chamber[hour.teacher.indexOf(subhour)]
                   span.course(class='sub_' + hour.teacher.length)=  hour.course[hour.teacher.indexOf(subhour)]
                
                if match.json.indexOf(day) == 0
                    span.time= app.locals.times[match.json[0].indexOf(hour)]
                
            else 
              .hour.changed(class= current ? ' current' : '')
                span.free Vrij
                if match.json.indexOf(day) == 0
                    span.time= app.locals.times[match.json[0].indexOf(hour)]
else 
  .schedule.rip
    h1 R.I.P
    p="Hier ligt " + (easter.realName || easter.name)
    sup="aka " + easter.easter
    p=easter.text
    p Voor altijd in ons hart
include linkbar
